apiVersion: v1
kind: ConfigMap
metadata:
  name: bookmark-service-configmap
  namespace: default
data:
  postgres_host: bookmark-service-postgres-svc
  postgres_port: "5432"
  postgres_database: bookmarksdb
---
apiVersion: v1
kind: Secret
metadata:
  name: bookmark-service-secrets
type: Opaque
data:
  postgres_username: c2l2YQ== # siva
  postgres_password: c2l2YWxhYnM= # sivalabs
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vote-service-configmap
  namespace: default
data:
  postgres_host: vote-service-postgres-svc
  postgres_port: "5432"
  postgres_database: votesdb
---
apiVersion: v1
kind: Secret
metadata:
  name: vote-service-secrets
type: Opaque
data:
  postgres_username: c2l2YQ== # siva
  postgres_password: c2l2YWxhYnM= # sivalabs
